{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deposit Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dp_form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <body>
      <div class="container">
        <form id="dp_form" action="" method="post">
          <h1>Please send the receipt of your transaction as the last step to the e-mail address below.</h1>
          <h1>E-mail: xbet@yahoo.com</h1>
          <h1>----------------------------------------------------</h1>
          <h1>Thank you for choosing us! Good Luck!</h1>
        </form>
      </div>
    </body>
</html>
