{% extends 'first_app/base.html' %}

{% block content %}
<section class="content">
        <h2>Summary</h2>

        <div class="depositContent">
            <div class="pDeposit">DEPOSIT</div>
            <div class="depositRaport">
                <div class="completedRaport">
                    <h3>Completed</h3>
                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Daily Deposit</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Weekly Deposit</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Monthly Deposit</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span> 0 </span> Pieces</td>
                        </tr>
                    </table>
                </div>

                <div class="inProgressRaport">
                    <h3>In Progress</h3>
                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Daily Deposit</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Weekly Deposit</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Monthly Deposit</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>
                </div>

                <div class="pendingRaport">
                    <h3>Pending</h3>
                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Daily Deposit</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Weekly Deposit</th>
                        </tr>
                        <tr>
                            <td><span></span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Monthly Deposit</th>
                        </tr>
                        <tr>
                            <td><span> 0 </span> Lei / <span> 0 </span> Pieces</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="withdrawContent">
            <div class="pWitdraw">WITHDRAW</div>
            <div class="withdrawRaport">
                <div class="completedWithdrawRaport">
                    <h3>Completed</h3>
                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Daily Withdraw</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Weekly Withdraw</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Monthly Withdraw</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>
                </div>

                <div class="inProgressWithdrawRaport">
                    <h3>In Progress</h3>
                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Daily Withdraw</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Weekly Withdraw</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Monthly Withdraw</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>
                </div>

                <div class="pendingWithdrawRaport">
                    <h3>Pending</h3>
                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Daily Withdraw</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Weekly Withdraw</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <th rowspan="2"><i class='fas fa-chart-line'></i></th>
                            <th>Monthly Withdraw</th>
                        </tr>
                        <tr>
                            <td><span>0</span> Lei / <span>0</span> Pieces</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
